DATABASE_URL=postgresql://...
JWT_SECRET=your_super_secret_key_here
SMM_API_KEY=your_smm_sat_api_key# API SMM SAT
SMM_API_URL=https://smmsat.com/api/v2
SMM_API_KEY=tu_api_key_aqui
SITE_URL=https://pulsepanelboost.com

# API MY SMM PANEL
MYSMM_API_URL=https://my.smm-panel.com/api/v2
MYSMM_API_KEY=tu_api_key_aquilsepanelboost.com
